<!doctype html>
<html lang="en">
<head>
    

    <title>Radix</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/Content/css/dashboard.css" rel="stylesheet" />
</head>

<body>
    @RenderBody()
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="@Url.Action("Index", "Home")">@ViewBag.empresa</a>

        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                    @Html.AntiForgeryToken()
                    <a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Cerrar Sesión</a>
                }
            </li>

        </ul>
    </nav>
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "subempresas", new { emp_nom = ViewBag.empresa, emp_id = ViewBag.emp_id })">
                        <span data-feather="home"></span>
                        Sucursales<span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">

                    <a class="nav-link" href="@Url.Action("Index", "planillascontratos", new { emp_nom = ViewBag.empresa, emp_id = ViewBag.emp_id })">
                        <span data-feather="file"></span>
                        Documentos
                    </a>
                </li>

            </ul>


        </div>
    </nav>
    @RenderSection("Scripts", required: false)
</body>
</html>

