@model Proyecto_RadixWeb.Models.empresa_cargo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>empresa_cargo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cargos.Car_Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cargos.Car_Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.empresas.Emp_Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.empresas.Emp_Nom)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Empcar_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
