@model Proyecto_RadixWeb.Models.contratos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>contratos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Con_FechaInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Con_FechaInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Con_FechaFin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Con_FechaFin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Con_Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Con_Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.personas.Per_Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.personas.Per_Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.planillascontratos.PC_Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.planillascontratos.PC_Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.subempresas.Sub_Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subempresas.Sub_Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tiposcontratos.TCon_Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tiposcontratos.TCon_Nom)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Con_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
