@model IEnumerable<Proyecto_RadixWeb.Models.planillascontratos>

@{
    ViewBag.Title = "Index";
}
<div class="content-wrapper">
    <div class="container-fluid">
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-table"></i> Data Table Example
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <h3>
                        @Html.ActionLink("Nueva Plantilla", "Create")
                    </h3>
                    <table class="table">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.PC_Nom)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PC_Ext)
                            </th>
                            <th>
                                Descargar
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PC_Nom)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PC_Ext)
                                </td>

                                <td>
                                    @Html.ActionLink("Descargar Docx", "DescargarDocx", new { id = item.PC_Id })  |
                                    @Html.ActionLink("Descargar Pdf", "DescargarPdf", new { id = item.PC_Id })
                                </td>

                            </tr>
                        }

                    </table>
                </div>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>
    </div>
</div>
